<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="profiel">
    <header>
        <%- include('../partials/header'); %>
    </header>


    <main>
        <section class="sidebar">
            <img src="<%= user.pictureUser %>" alt="">
            <section class="info">
                <h2><%= user.name %> <span><%= user.age %></span></h2>
                <section>
                    <p><strong>Over mij:</strong>
                        <p><%= user.description %></p>
                </section>
                <section>
                    <p><strong>Ik ben op zoek naar:</strong>
                        <ul>
                            <% user.help.forEach(function(help){ %>
                            <li><%= help %></li>
                            <% }) %>
                        </ul>
                </section>
            </section>
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit">Log out →</button>
            </form>
        </section>
        <section class="content">
            <article>
                <section>
                    <h3><%= careTradesTitle %></h3>
                    <article>
                        <% user.oldPersonTrades.forEach((oldTrade)=> { %>
                        <img src="/images/<%= oldTrade %>.png" alt="icon">
                        <% }); %>
                    </article>
                </section>
                <section>
                    <h3>Wat is verwacht:</h3>
                    <article>
                        <% user.careGiverTrades.forEach((careTrade)=> { %>
                        <img src="/images/<%= careTrade %>.png" alt="icon">
                        <% }); %>
                    </article>
                </section>
            </article>
            <section class="map">
                <section>
                    <h3>Mijn Adres:</h3>
                    <p><strong>Stad:</strong> <%= user.city %></p>
                    <p><strong>Straat:</strong> <%= user.street %></p>
                    <p><strong>Huisnummer:</strong> <%= user.houseNumber %> </p>
                </section>
                <div id="map" style="height: 100%; width: 75%;"></div>
            </section>
        </section>

    </main>
    <input type="hidden" value="<%= user.lat %>" id="lat">
    <input type="hidden" value="<%= user.lon %>" id="lng">

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBG0TS1HiOvZFbjpnuuzypOqfPRQedy5OQ&callback=initMap">
    </script>
    <script type="text/javascript" src="/scripts/user-details.js"></script>

</body>

</html>