<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="users">
  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <h1>Gebruikers</h1>
    <section class="x-overflow">
      <% users.forEach((user) =>{ %>
      <section class="section">
        <a href="users/<%= user._id %> ">

          <article>
            <h1><%= user.name %> </h1>
            <div style="background-image: url('<%= user.pictureUser %>');">
            </div>
            <img src="<%= user.pictureUser %> " alt="user picture">
          </article>

          <article>
            <p><strong>Leeftijd:</strong> <span><%= user.age %></span> </p>
            <p><strong>Hulp:</strong></p>
            <ul>
              <% user.help.forEach((help)=> { %>
              <li><%= help %></li>
              <% }); %>
            </ul>
          </article>

          <article>
            <p><strong><%= oldTradesTitle %></strong></p>
            <ul>
              <% user.oldPersonTrades.forEach((oldTrade)=> { %>
              <img src="/images/<%= oldTrade %>.png" alt="icon">
              <% }); %>
            </ul>
          </article>

        </a>

        <section>
          <form action="/users" method="post">
            <button name="favorite" type="submit" value="<%= user._id %>" class="btnHeart">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24">
                <path
                  d="M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z" />
              </svg>
            </button>
          </form>
        </section>

      </section>
      <% }); %>
    </section>
    <article>
      <button class="previous">
        ←</button> <button class="next">→
      </button>
    </article>

    <%if(activeAcc.likes){%>
    <section class="likes">
      <% activeAcc.likes.forEach((like) => {%>
      <li><%= like %></li>
      <%})%>
    </section>
    <%}%>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
    </footer>
    <script type="text/javascript" src="/scripts/users.js"></script>
    <script type="text/javascript" src="/scripts/likes.js"></script>
</body>

</html>