<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body>
<header>
  <%- include('../partials/header'); %>
</header>

<main class="user-detail">
    <img src="<%= user.image %> " alt="">
    <h1><%= user.name %></h1>
    <p><strong>Over <%= user.name %>:</strong> <%= user.aboutUser %> </p>
    <p><strong>adres:</strong></p>
    <p><strong>Stad:</strong> <%= user.city %></p>
    <p><strong>Straat:</strong> <%= user.street %></p>
    <p><strong>Huisnummer:</strong> <%= user.houseNumber %> </p>
    <article>
        <p><strong><%= careTradesTitle %></strong></p>
        <article>
          <% user.careTrades.forEach((careTrade)=> { %>
              <img src="/images/<%= careTrade %>.png" alt="icon">
          <% }); %> 
        </article>
      </article>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
</body>
</html> 